@import "variables";

.btn {
  background-color: $bgColorLight;
  color: $fgColorMuted;
  padding: 0.5rem 0.75rem;
  border: 0;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  svg {
    margin-left: 0.33rem;
    height: 1rem;
    width: 1rem;
  }

  &:hover {
    background-color: $bgColorLighter;
    color: $fgColor;
    text-decoration: none;
  }

  &:active {
    background-color: $bgColorLight;
  }

  &:disabled {
    color: $fgColorDark;
    background-color: $bgColorLight;
    cursor: default;
  }

  &--round {
    border-radius: 0.5rem;
  }

  &--light {
    background-color: $bgColorLighter;
    color: $fgColorMuted;

    &:hover {
      background-color: $bgColorLightest;
      color: $fgColor;
    }

    &:active {
      background-color: $bgColorLighter;
    }

    &:disabled {
      color: $fgColorDark;
      background-color: $bgColorLighter;
    }
  }
}
