.btnOptions {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn {
  background-color: var(--bg-color-light);
  color: var(--fg-color-muted);
  padding: 0.5rem 0.75rem;
  border: 0;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  min-height: 2.25rem;

  .icon {
    display: inline-block;
    margin-left: 0.33rem;
    height: 1rem;
    width: 1rem;
  }

  &:hover {
    background-color: var(--bg-color-lighter);
    color: var(--fg-color);
    text-decoration: none;
  }

  &:active {
    background-color: var(--bg-color-light);
  }

  &:disabled {
    color: var(--fg-color-dark);
    background-color: var(--bg-color-light);
    cursor: default;
    opacity: 0.8;
  }

  &--round {
    border-radius: 0.5rem;
  }

  &--light {
    background-color: var(--bg-color-lighter);
    color: var(--fg-color-muted);

    &:hover {
      background-color: var(--bg-color-lightest);
      color: var(--fg-color);
    }

    &:active {
      background-color: var(--bg-color-lighter);
    }

    &:disabled {
      color: var(--fg-color-dark);
      background-color: var(--bg-color-lighter);
    }
  }

  &--option {
    padding: 0.25rem 0.75rem 0.25rem 2rem;
    height: 1.75rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0.33rem;
      top: 0.5rem;
      background-color: var(--bg-color);
      width: 1.25rem;
      height: 1.25rem;
    }

    &.selected {
      &::after {
        content: "✓";
        position: absolute;
        left: 0.5rem;
        top: 0.25rem;
        color: var(--fg-color);
        font-size: 1.25rem;
      }
    }

    &:disabled {
      opacity: 0.75;
    }
  }

  &--delete {
    background-color: var(--bg-color-delete-fade);

    &:hover {
      background-color: var(--bg-color-delete);
    }
  }
}

.link {
  border: 0;
  background: none;
  color: var(--accent-color);
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0 0.05rem;

  svg {
    margin-left: 0.33rem;
    height: 1rem;
    width: 1rem;
  }

  &:hover {
    color: var(--accent-color-light);
    text-decoration: underline;
  }

  &--delete {
    color: var(--fg-color-delete-fade);

    &:hover {
      color: var(--fg-color-delete);
    }
  }
}
