.btnOptions {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.1rem;
}

.btn {
  background-color: var(--c-button);
  border: 1px solid var(--c-button-border, var(--c-button));
  color: var(--c-text);
  padding: 0.49rem 0.74rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  min-height: 2.25rem;

  .icon {
    display: inline-block;
    margin-left: 0.33rem;
    height: 1rem;
    width: 1rem;
  }

  &:hover {
    background-color: var(--c-button-hover);
    border-color: var(--c-button-hover-border, var(--c-button-border, var(--c-button-hover)));
    color: var(--c-text);
    text-decoration: none;
  }

  &:active {
    background-color: var(--c-button);
  }

  &:disabled {
    color: var(--c-text-dark);
    background-color: var(--c-button);
    cursor: default;
    opacity: 0.8;
  }

  &--round {
    border-radius: 0.5rem;
  }

  &--light {
    background-color: var(--c-button-light);
    border: 1px solid var(--c-button-border, var(--c-button-light));
    color: var(--c-text);

    &:hover {
      background-color: var(--c-button-light-hover);
      border-color: var(--c-button-hover-border, var(--c-button-light-hover));
      color: var(--c-text);
    }

    &:active {
      background-color: var(--c-button-light);
    }

    &:disabled {
      color: var(--c-text-dark);
      background-color: var(--c-button-light);
    }
  }

  &--option {
    padding: 0.25rem 0.75rem 0.25rem 2rem;
    height: 1.75rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0.33rem;
      top: 0.5rem;
      background-color: var(--c-base);
      width: 1.25rem;
      height: 1.25rem;
    }

    &.selected {
      &::after {
        content: "✓";
        position: absolute;
        left: 0.5rem;
        top: 0.25rem;
        color: var(--c-text);
        font-size: 1.25rem;
      }
    }

    &:disabled {
      opacity: 0.75;
    }
  }

  &--delete {
    background-color: var(--c-error-bg-muted);
    border-color: var(--c-error-bg-muted-border, var(--c-error-bg-muted));

    &:hover {
      background-color: var(--c-error-bg);
      border-color: var(--c-error-bg-border, var(--c-error-bg));
    }
  }
}

.link {
  border: 0;
  background: none;
  color: var(--c-link);
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0 0.05rem;

  svg {
    margin-left: 0.33rem;
    height: 1rem;
    width: 1rem;
  }

  &:hover {
    color: var(--c-link-hover);
    text-decoration: underline;
  }

  &--delete {
    color: var(--c-error-muted);

    &:hover {
      color: var(--c-error);
    }
  }
}
