.listFilter {
  height: var(--filter-height);
  padding: 0.5rem 1.5rem 1.25rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: left;
  white-space: nowrap;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.25rem;

  &--right {
    margin-left: auto;
  }

  button {
    background-color: var(--c-button);
    color: var(--c-text);
    padding: 0.25rem 0.5rem;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: var(--c-button-hover);
    }

    &.sortDirection {
      padding: 0;
      background: none;
    }
  }
}

.dropdownFilter {
  position: relative;
  display: inline-block;
  z-index: 15;

  &__selected {
    min-width: 7rem;
  }

  &__dropdown {
    display: none;
    position: absolute;
    min-width: 7rem;
    box-shadow: 0 0.5rem 1rem 0 var(--shadow-3);
    z-index: 20;
  }

  &__opt {
    display: block;
    width: 100%;
    padding: 0.33rem !important;
    border-top: 1px solid var(--c-base) !important;
    border-radius: 0 !important;

    &:last-child {
      border-bottom-left-radius: 0.25rem !important;
      border-bottom-right-radius: 0.25rem !important;
    }
  }

  &:hover,
  &:focus-visible,
  &:focus-within {
    .dropdownFilter__selected {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .dropdownFilter__dropdown {
      display: block;
    }
  }
}
