.listFilter {
  height: var(--filter-height);
  padding: 0.5rem 1.5rem 1.25rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: left;
  white-space: nowrap;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.25rem;

  &__label {
    color: var(--c-text-muted);
  }

  &--right {
    margin-left: auto;
  }

  &__btn {
    background-color: var(--c-tag, var(--c-button));
    border: 1px solid var(--c-tag-border, var(--c-button-border, var(--c-button)));
    color: var(--c-text);
    padding: 0.24rem 0.49rem;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: var(--c-button-hover);
      border-color: var(--c-button-hover-border, var(--c-button-hover));
    }

    &.selected {
      background-color: var(--c-button-hover);
      border-color: var(--c-button-active-border, var(--c-button-hover));
    }
  }

  &__direction {
    background-color: var(--c-tag, var(--c-button));
    color: var(--c-text);
    padding: 0.25rem 0.5rem;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0;
    background: none;
  }
}

.dropdownFilter {
  position: relative;
  display: inline-block;
  z-index: 55;

  &__dropdown {
    display: none;
    position: absolute;
    min-width: 7rem;
    box-shadow: 0 0.5rem 1rem 0 var(--shadow-3);
    background-color: var(--c-dropdown, var(--c-button));
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    z-index: 60;
  }

  &__selected,
  &__opt {
    background-color: var(--c-button);
    color: var(--c-text);
    cursor: pointer;
  }

  &__selected {
    min-width: 7rem;
    border: 1px solid var(--c-dropdown-border, var(--c-button-border, var(--c-button)));
    padding: 0.24rem 0.49rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--c-button-hover);
      border-color: var(--c-button-hover-border, var(--c-button-hover));
    }

    &.filtered {
      background-color: var(--c-button-active, var(--c-dropdown, var(--c-button)));
      border-color: var(--c-button-active-border, var(--c-dropdown-border, var(--c-base)));
    }
  }

  &__opt {
    display: block;
    width: 100%;
    padding: 0.33rem;
    border-radius: 0;
    border: 0;
    border-top: 1px solid var(--c-dropdown-border, var(--c-base));

    &:last-child {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &.selected {
      background-color: var(--c-dropdown-active, var(--c-dropdown-hover, var(--c-button-hover)));
      border-color: var(--c-dropdown-active-border, var(--c-dropdown-border, var(--c-base)));
    }

    &:hover {
      background-color: var(--c-dropdown-hover, var(--c-button-hover));
      border-color: var(--c-dropdown-hover-border, var(--c-dropdown-border, var(--c-base)));
    }
  }

  &:hover,
  &:focus-visible,
  &:focus-within {
    .dropdownFilter__selected {
      background-color: var(--c-button-hover);
      border-color: var(--c-button-hover-border, var(--c-button-hover));
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-color: transparent;

      &.filtered {
        background-color: var(--c-button-active, var(--c-dropdown, var(--c-button)));
        border-color: var(--c-button-active-border, var(--c-dropdown-border, var(--c-base)));
        border-bottom-color: transparent;
      }
    }

    .dropdownFilter__dropdown {
      display: block;
    }
  }
}
