.md {
  h1 {
    font-size: 1.5rem;
    margin: 0;
  }

  h2 {
    font-size: 1.4rem;
    margin: 0;
  }

  h3 {
    font-size: 1.3rem;
    margin: 0;
  }

  h4 {
    font-size: 1.2rem;
    margin: 0;
  }

  h5 {
    font-size: 1.1rem;
    margin: 0;
  }

  ul,
  ol {
    margin: 0;
    padding-left: 2rem;

    li {
      padding: 0.125rem 0;
    }
  }

  blockquote {
    margin: 0 2rem;
  }

  code {
    font-size: 0.9rem;
    font-family: ui-monospace, "SF Mono", "Ubuntu Mono", "DejaVu Sans Mono", "Roboto Mono", Consolas, Menlo, monospace;
    background-color: var(--c-overlay);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
  }
}
