.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.main {
  width: calc(100vw - var(--tab-size));
  height: 100vh;
}

.pageNav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: var(--page-nav-height);

  &__header {
    margin: 0;
  }

  &__actions {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5rem;
  }
}

.tag {
  background-color: var(--bg-color-light);
  color: var(--fg-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

button.tag {
  border: 0;
  cursor: pointer;
}
