#appContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: var(--c-text);
  background: var(--c-base);
}

.main {
  width: calc(100vw - var(--tab-width));
  height: 100vh;
}

.pageNav {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  height: var(--page-nav-height);

  &__header {
    margin: 0;
  }

  &__actions {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5rem;
  }
}

.pageWrapper {
  padding: 0.5rem 1rem;
  height: calc(100vh - var(--page-nav-height) - var(--footer-height));
  width: 100%;
}

.tag {
  background-color: var(--c-tag, var(--c-button));
  border: 1px solid var(--c-tag-border, var(--c-tag, var(--c-button)));
  color: var(--c-text);
  padding: 0.24rem 0.49rem;
  border-radius: 0.25rem;
}

button.tag {
  border: 1px solid var(--c-tag-border, var(--c-tag, var(--c-button)));
  cursor: pointer;

  &:hover {
    background-color: var(--c-tag-hover, var(--c-button-hover));
    border-color: var(--c-tag-hover-border, var(--c-button-hover-border, var(--c-button-hover)));
  }
}

.unread {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  color: var(--c-unread-text, var(--c-text));
  background: linear-gradient(0deg, rgba(0 0 0 / 10%), transparent 100%), var(--c-unread);
  box-shadow: var(--shadow-1) 0.05rem 0.05rem 0.5rem 0.2rem;
}
