$black: #000;
$white: #fff;

$bgColor: #222;
$bgColorLight: #333;
$bgColorLighter: #444;
$bgColorLightest: #555;
$fgColor: #fff;
$fgColorMuted: #ccc;
$fgColorDark: #aaa;

$accentColor: #ff0088;

$bgColorDelete: #6f0000;
$fgColorDelete: #c22424;

$tabSize: 42px;

$pageNavHeight: 3rem;
