:root {
  --bg-color: #222;
  --bg-color-hint: #262626;
  --bg-color-light: #333;
  --bg-color-lighter: #444;
  --bg-color-lightest: #555;

  --fg-color: #fff;
  --fg-color-muted: #ccc;
  --fg-color-dark: #aaa;

  --accent-color: #ff0088;
  --accent-color-light: #ff0d8e;
  --accent-color-transparent: #ff00881a;

  --bg-color-delete: #6f0000;
  --bg-color-delete-fade: #531c1c;
  --fg-color-delete: #c22424;
  --fg-color-delete-fade: #b23434;

  --tab-size: 42px;
  --page-nav-height: 3rem;
  --filter-height: 3rem;

  @media screen and (max-width: 1150px) {
    --filter-height: 6rem;
  }
}
