:root {
  --tab-width: 2.5rem;
  --tab-width-open: 7.5rem;
  --tab-height: 2.5rem;
  --page-nav-height: 3.25rem;
  --footer-height: 0rem;
  --filter-height: 3rem;
  --modal-header-height: 2.5rem;
  --modal-footer-height: 3.25rem;

  @media screen and (max-width: 1150px) {
    --filter-height: 6rem;
  }
}
