#appContainer[data-theme="ayuMirage"] {
  // syntax
  --c-stag: #5ccfe6;
  --c-func: #ffd173;
  --c-entity: #73d0ff;
  --c-string: #d5ff80;
  --c-regexp: #95e6cb;
  --c-markup: #f28779;
  --c-keyword: #ffad66;
  --c-special: #ffdfb3;
  --c-comment: #b8cfe680;
  --c-constant: #dfbfff;
  --c-operator: #ed9366;
  // vcs
  --c-added: #87d96c;
  --c-modified: #80bfff;
  --c-removed: #f27983;
  // editor
  --c-edit-fg: #cccac2;
  --c-edit-bg: #242936;
  --c-edit-line: #1a1f29;
  --c-edit-selection-active: #409fff40;
  --c-edit-selection-inactive: #409fff21;
  --c-find-active: #695380;
  --c-find-inactive: #69538066;
  --c-gutter-active: #8a9199cc;
  --c-gutter-normal: #8a919966;
  --c-indent-active: #8a919959;
  --c-indent-normal: #8a91992e;
  // ui
  --c-fg: #707a8c;
  --c-bg: #1f2430;
  --c-line: #171b24;
  --c-selection-active: #63759926;
  --c-selection-normal: #69758c1f;
  --c-panel-bg: #1c212b;
  --c-panel-shadow: #12151cb3;
  // common
  --c-common-accent: #ffcc56;
  --c-common-error: #ff6666;

  --c-sub: var(--c-panel-bg);
  --c-base: var(--c-bg);
  --c-surface: var(--c-edit-bg);
  --c-overlay: #292e3b;
  --c-muted: #303646;
  --c-subtle: #373c4d;

  --c-menu: var(--c-surface);
  --c-menu-hover: var(--c-stag);
  --c-menu-active: var(--c-string);

  --c-text: var(--c-edit-fg);
  --c-text-muted: var(--c-fg);
  --c-text-dark: var(--c-fg);

  --c-link: var(--c-added);
  --c-link-hover: var(--c-string);
  --c-image-select: var(--c-string);
  --c-focus: var(--c-string);
  --c-selection: var(--c-selection-active);

  --c-table-row: var(--c-bg);
  --c-table-row-alt: var(--c-edit-bg);
  --c-table-hover: var(--c-find-inactive);
  --c-table-row-selected: var(--c-find-active);
  --c-table2-row: #1c212d;
  --c-table2-row-alt: var(--c-edit-line);
  --c-table2-hover: var(--c-find-inactive);
  --c-table2-hover2: var(--c-find-inactive);

  --c-button: var(--c-overlay);
  --c-button-hover: var(--c-muted);
  --c-button-light: var(--c-muted);
  --c-button-light-hover: var(--c-subtle);
  --c-dropdown: var(--c-button);

  --c-error: var(--c-common-error);
  --c-error-light: var(--c-markup);
  --c-error-muted: var(--c-removed);
  --c-error-bg: #992d2d;
  --c-error-bg-muted: #813333;

  --c-rating: var(--c-func);
  --c-unread: var(--c-added);
  --c-unread-text: var(--c-bg);

  --c-book: var(--c-constant);
  --c-book-border: var(--c-find-inactive);
  --c-book-text: var(--c-bg);

  --c-overlay-border: var(--c-muted);

  --c-chart-bar: var(--c-stag);
  --c-chart-bar-border: var(--c-entity);
}
