#appContainer[data-theme="ayuDark"] {
  // syntax
  --c-stag: #39bae6;
  --c-func: #ffb454;
  --c-entity: #59c2ff;
  --c-string: #aad94c;
  --c-regexp: #95e6cb;
  --c-markup: #f07178;
  --c-keyword: #ff8f40;
  --c-special: #e6b673;
  --c-comment: #acb6bf8c;
  --c-constant: #d2a6ff;
  --c-operator: #f29668;
  // vcs
  --c-added: #7fd962;
  --c-modified: #73b8ff;
  --c-removed: #f26d78;
  // editor
  --c-edit-fg: #bfbdb6;
  --c-edit-bg: #0d1017;
  --c-edit-line: #131721;
  --c-edit-selection-active: #409fff4d;
  --c-edit-selection-inactive: #409fff21;
  --c-find-active: #6c5980;
  --c-find-inactive: #6c598066;
  --c-gutter-active: #6c7380e6;
  --c-gutter-normal: #6c738099;
  --c-indent-active: #6c738080;
  --c-indent-normal: #6c738033;
  // ui
  --c-fg: #565b66;
  --c-bg: #0b0e14;
  --c-line: #11151c;
  --c-selection-active: #47526640;
  --c-selection-normal: #47526633;
  --c-panel-bg: #0f131a;
  --c-panel-shadow: #00000080;
  // common
  --c-common-accent: #e6b450;
  --c-common-error: #d95757;
}
