#appContainer[data-theme="ayuLight"] {
  // syntax
  --c-stag: #55b4d4;
  --c-func: #f2ae49;
  --c-entity: #399ee6;
  --c-string: #86b300;
  --c-regexp: #4cbf99;
  --c-markup: #f07171;
  --c-keyword: #fa8d3e;
  --c-special: #e6ba7e;
  --c-comment: #787b8099;
  --c-constant: #a37acc;
  --c-operator: #ed9366;
  // vcs
  --c-added: #6cbf43;
  --c-modified: #478acc;
  --c-removed: #ff7383;
  // editor
  --c-edit-fg: #5c6166;
  --c-edit-bg: #fcfcfc;
  --c-edit-line: #8a91991a;
  --c-edit-selection-active: #035bd626;
  --c-edit-selection-inactive: #035bd612;
  --c-find-active: #9f40ff2b;
  --c-find-inactive: #9f40ffcc;
  --c-gutter-active: #8a9199cc;
  --c-gutter-normal: #8a919966;
  --c-indent-active: #8a919959;
  --c-indent-normal: #8a91992e;
  // ui
  --c-fg: #8a9199;
  --c-bg: #f8f9fa;
  --c-line: #6b7d8f1f;
  --c-selection-active: #56728f1f;
  --c-selection-normal: #6b7d8f1f;
  --c-panel-bg: #f3f4f5;
  --c-panel-shadow: #00000026;
  // common
  --c-common-accent: #ffaa33;
  --c-common-error: #e65050;

  --c-sub: var(--c-panel-bg);
  --c-base: var(--c-bg);
  --c-surface: var(--c-edit-bg);
  --c-overlay: var(--c-panel-bg);
  --c-muted: #dfe1e4;
  --c-subtle: #dcdfe2;

  --c-menu: var(--c-bg);
  --c-menu-hover: var(--c-stag);
  --c-menu-active: var(--c-keyword);

  --c-text: var(--c-edit-fg);
  --c-text-muted: #6e7379;
  --c-text-dark: var(--c-fg);

  --c-link: var(--c-keyword);
  --c-link-hover: var(--c-func);
  --c-image-select: var(--c-stag);
  --c-focus: var(--c-stag);
  --c-selection: var(--c-selection-active);

  --c-table-row: var(--c-bg);
  --c-table-row-alt: var(--c-panel-bg);
  --c-table-hover: var(--c-find-active);
  --c-table-row-selected: #ffca7b;
  --c-table2-row: var(--c-indent-normal);
  --c-table2-row-alt: var(--c-edit-line);
  --c-table2-hover: var(--c-find-active);
  --c-table2-hover2: var(--c-find-active);

  --c-button: transparent;
  --c-button-border: var(--c-muted);
  --c-button-hover: transparent;
  --c-button-hover-border: var(--c-stag);
  --c-button-active-border: var(--c-func);
  --c-button-light: transparent;
  --c-button-light-hover: transparent;
  --c-dropdown: var(--c-bg);
  --c-dropdown-border: var(--c-muted);
  --c-dropdown-hover: #55b4d42b;
  --c-dropdown-active: #f2ae492b;
  --c-tag: transparent;
  --c-tag-border: var(--c-dropdown-border);
  --c-tag-hover-border: var(--c-button-hover-border);

  --c-error: var(--c-common-error);
  --c-error-light: var(--c-markup);
  --c-error-muted: var(--c-removed);
  --c-error-bg: transparent;
  --c-error-bg-border: #db7575;
  --c-error-bg-muted: transparent;
  --c-error-bg-muted-border: #e3b4b4;

  --c-rating: var(--c-func);
  --c-unread: var(--c-added);
  --c-unread-text: var(--c-bg);

  --c-book: var(--c-modified);
  --c-book-border: var(--c-entity);
  --c-book-text: var(--c-bg);

  --c-overlay-border: var(--c-muted);

  --c-chart-bar: var(--c-stag);
  --c-chart-bar-border: var(--c-entity);

  --shadow-1: rgb(0 0 0 / 8%);
  --shadow-2: rgb(0 0 0 / 13%);
  --shadow-3: rgb(0 0 0 / 18%);
  --shadow-4: rgb(0 0 0 / 23%);
  --shadow-5: rgb(0 0 0 / 28%);
}
