// Rosé Pine Moon
// https://rosepinetheme.com/palette
#appContainer[data-theme="rosepineMoon"] {
  --c-base: #232136;
  --c-surface: #2a273f;
  --c-overlay: #393552;
  --c-muted: #6e6a86;
  --c-subtle: #908caa;
  --c-text: #e0def4;
  --c-love: #eb6f92;
  --c-gold: #f6c177;
  --c-rose: #ea9a97;
  --c-pine: #3e8fb0;
  --c-foam: #9ccfd8;
  --c-iris: #c4a7e7;
  --c-highlight-low: #2a283e;
  --c-highlight-med: #44415a;
  --c-highlight-high: #56526e;
}
